body {
    font-family: cursive;
    background-color: black;
    color:white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
}

/*HEADER*/
header{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 96%;
}

button {
    margin: 0.7em;
    font-size: 1.3em;
    height: 2.5em;
    width: 9em;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #8b8b8b; 
    color: black; 
    text-decoration: underline;
    border: 0.2em solid white; 
    box-shadow: 0px 0.2em 0.4em rgba(75, 75, 75, 0.2); 
}


/*FOOTER*/
#volumeoptions{
    font-size: 2.2em;
    position: fixed;
    bottom:1em;
    right:1em;
}


/*MAIN*/
main{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

/*PLAYER*/
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

h6{
    margin: 0px;
    padding-bottom: 0.8em;
    height:auto;
    font-size: 3.2em;
    text-decoration: underline;
}

.move{
    height:5.5em;
    width:5.5em;
    font-size: 3.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    font-style: oblique;
}

#move1{
    background-color: gold;
}

/*GRID*/
.area {
    display: flex;
    height:31em ;
    width: 37em;
    justify-content: center;
    align-items: center;
    margin:2em;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 95%; 
    height: 95%; 
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border: 0.1rem groove white;
    font-size: 6em;
    font-family: cursive;
}

.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3) {
    border-top: none;
}
.grid-item:nth-child(1),
.grid-item:nth-child(4),
.grid-item:nth-child(7) {
    border-left: none;
}
.grid-item:nth-child(3),
.grid-item:nth-child(6),
.grid-item:nth-child(9) {
    border-right: none;
}
.grid-item:nth-child(7),
.grid-item:nth-child(8),
.grid-item:nth-child(9) {
    border-bottom: none;
}


@media (max-width: 1017px) {
    .area{
        zoom:0.9;
    }
}

@media (max-width: 952px) {
    .player{
        zoom:0.9;
    }
}

@media (max-width: 917px) {
    .area{
        zoom:0.85;
    }
}

@media (max-width: 885px) {
    .player{
        zoom:0.8;
    }
}

@media (max-width: 850px) {
    .area{
        zoom:0.8;
    }
}


@media (max-width: 817px) {
    .area{
        zoom:0.75;
    }
    .player{
        zoom:0.75;
    }
    header{
        zoom:0.9;
    }
}

@media (max-width: 770px) {
    .player{
        zoom:0.6;
    }
}

@media (max-width: 625px) {
    header{
        zoom:0.8;
    }
}

@media (max-width: 557px) {
    header{
        zoom:0.7;
    }
}

@media (max-width: 489px) {
    header{
        zoom:0.6;
    }
}


@media (max-width: 355px) {
    .area{
        zoom:0.7;
    }
}

@media (max-width: 340px) {
    .area{
        zoom:0.65;
    }
}


/*
@media (max-width: 1193px) {
    .area{
        zoom:0.8;
    }
}

@media (max-width: 1161px) {
    .player{
        zoom:0.8;
    }
    header{
        zoom:0.9;
    }
    main{
        zoom:0.8;
    }
}

@media (max-width: 832px) {
    #p2{
        order:2;
    }
    .area{
        order:3;
    }
    .player{
        zoom:0.8;
    }
    .area{
        zoom:1;
    }
}

@media (max-width: 601px) {
    .player{
        zoom:0.8;
    }
    .area{
        zoom:0.8;
    }
}

@media (max-width: 412px) {
    .player{
        zoom:0.7;
    }
    header{
        zoom:0.8;
    }
    
}

@media (max-width: 364px) {
    .player{
        zoom:0.6;
    }
    header{
        zoom:0.7;
    }
}
 */